<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{{global.web_name}}} - Email Change</title>
</head>
<body bgcolor="#f6f6f6">
<table class="body-wrap" bgcolor="#f6f6f6">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td align="center" class="padding">
                            <table class="body-container">
                                <tr class="header">
                                    <td>
                                        <a href="{{{global.urlHome}}}">
                                            <img src="{{{header.imageLogo}}}" alt="{{{global.web_name}}}" />
                                        </a>
                                        <h3>Locally Delicious</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <p>
                                            Hi {{{body.userName}}},
                                        </p>
                                        <p>
                                            You changed your email in the last little while.
                                        </p>
                                        <p>
                                            It's now the username you'll use to sign in.
                                        </p>
                                        <p>
                                            If you didn't change your email, please <a href="{{{global.urlContactPage}}}">contact us</a>.
                                        </p>
                                        <p>
                                            The {{{global.web_name}}} Team
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <table class="social-container">
                                <tr>
                                    <td width="30%">
                                        &nbsp;
                                    </td>
                                    <td class="holder" align="center">
                                        <a href="{{{footer.urlTwitter}}}">
                                            <img src="{{{footer.imageTwitter}}}" alt="Twitter" height="20" width="20" />
                                        </a>
                                    </td>
                                    <td class="holder" align="center">
                                        <a href="{{{footer.urlLinkedIn}}}">
                                            <img src="{{{footer.imageLinkedIn}}}" alt="LinkedIn" height="20" width="20" />
                                        </a>
                                    </td>
                                    <td class="holder" align="center">
                                        <a href="{{{footer.urlFacebook}}}">
                                            <img src="{{{footer.imageFacebook}}}" alt="Facebook" height="20" width="20" />
                                        </a>
                                    </td>
                                    <td class="holder" align="center">
                                        <a href="{{{footer.urlInstagram}}}">
                                            <img src="{{{footer.imageInstagram}}}" alt="Instagram" height="20" width="20" />
                                        </a>
                                    </td>
                                    <td width="30%">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="footer" style="background-image: url('{{{footer.imageBackground}}}');">
                        <td align="center" class="padding">
                            <table class="footer-container">
                                <tr>
                                    <td align="left">
                                        <a class="home" href="{{{global.urlHome}}}">{{{global.urlHome}}}</a>
                                    </td>
                                    <td align="center">
                                    </td>
                                    <td align="right">
                                        <a href="{{{footer.urlPrivacy}}}">Privacy</a>
                                        <a href="{{{footer.urlTerms}}}">Terms</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>